<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Student List</p>
        <br>
        <% @students.each do |student| %>
            <p><a href="/show_student?id=<%=student.id%>"><%=student.name%></a></p>
        <% end %>
    </body>
</html>